APP_ENV=development

#Banco de Dados
POSTGRES_DB=pdm_v2
POSTGRES_USER=pdm_admin
POSTGRES_PASSWORD=

REFLEX_DB_URL=
REFLEX_ASYNC_DB_URL=

#API do SMAE
SMAE_BASE_URL=https://smae.prefeitura.sp.fgv.br/api
SMAE_EMAIL=
SMAE_PASSWORD=
SMAE_SYSTEMS=SMAE,ProgramaDeMetas,PDM,CasaCivil,Projetos,PlanoSetorial,MDO
SMAE_PDM_ID=32